* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(200, 229, 255);
}

.board {
    width: 600px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quadrant {
    font-family: sans-serif;
    font-size: 5rem;
    height: 150px;
    background-color: rgb(181, 226, 212);
    flex-basis: 33.3%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrant:hover {
    background-color: rgb(193, 250, 232);
}

.game-info-text {
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
}
